
<h1>Sign Up</h1>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <label for="browser_password">Password</label>
  <input id="brower_password" type="password" name="Password" placeholder="Enter a password...">

  <label for="password_confirmation">Password</label>
  <input id="password_confirmation" type="password" name="Password_confirmation" placeholder="Confirm your password...">

  <button>Add user</button>
</form>